<template id="PICO-FAB">
  <style>
    iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  </style>
  <div class="sketchfab-embed-wrapper">
    <iframe
      title="Phone Vintage"
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
    >
    </iframe>
  </div>
</template>
